.elementor-197 .elementor-element.elementor-element-2fc9499{text-align:center;}.elementor-197 .elementor-element.elementor-element-7ff1fc7 .gallery-item .gallery-caption{text-align:center;}.elementor-197 .elementor-element.elementor-element-c1ca5b2{text-align:center;}